[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
pyjwt = "*"
boto3 = "*"
pytest = "*"
psycopg2-binary = "*"
python-dotenv = "*"
uuid = "*"
django-filter = "*"
django-cors-headers = "*"
pytest-django = "*"
pillow = "*"
aio-pika = "*"
botocore = "*"

[dev-packages]

[requires]
python_version = "3.9"
